<h2>Dashboard</h2>
<hr class="divider">

<ng-template #divLoading class="d-flex justify-content-center">
  <div class="spinner-border text-primary"></div>
</ng-template>

<!-- <div class="d-flex justify-content-center">
  <div class="spinner-border text-primary"></div>
</div> -->

<div class="mb-2 d-flex justify-content-end">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarPaquete" >Registrar paquete</button>
</div>

<dashboard-registrar-paquete
  (onPaquete)="regPack($event)"
></dashboard-registrar-paquete>

<confirmation-snackbar></confirmation-snackbar>

<!-- <general-table [customTitle]="'El locote del barrio'"></general-table> -->
<general-table *ngIf="paquetes" [informationData]="paquetes" ></general-table>

