<div class="modal-body">

  <form
    [formGroup]="recibirPackForm!"
    (ngSubmit)="onSubmit()"
  >

    <div class="m-2">
      <span>Número de tarjeta</span>
      <input type="text" class="form-control" formControlName="numero_tarjeta" (keyup.enter)="search()">
    </div>

    <div class="m-2" *ngIf="!usuarioRegistrado">
      <span class="text-primary">Usuario no encontrado, por favor ingrese el nombre</span>
    </div>

    <div class="m-2" *ngIf="automatico else manual">
      <span>OTR</span>
      <input type="text" disabled class="form-control" placeholder="Nombre de empleado..." value="{{ nombre }}">
    </div>

    <ng-template #manual>
      <div class="m-2">
        <span>Empleado recibe</span>
        <input type="text" class="form-control" formControlName="empleado_recibe" placeholder="Nombre de empleado..." value="nombre">
      </div>
    </ng-template>


  </form>

  <span class="p-2">¿Seguro que desea entregar este paquete?</span>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Cancelar</button>
    <button [ngClass]="recibirPackForm!.value.empleado_recibe == '' ? 'disabled' : '' " type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Confirmar</button>
</div>
