
<div class="modal fade" id="registrarRecibido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="titleModalLabel">Registrar paquete recibido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form>

          <h3>{{ valor }}</h3>
        <!-- <form
          [formGroup]="paqueteForm"
          #myForm="ngForm"
          (ngSubmit)="onSubmit()"
        > -->

          <div class="m-2">
            <span>Número de guía</span>
            <input type="text" class="form-control" formControlName="numero_de_guia">
          </div>


        </form>

        <span class="p-2">¿Seguro que desea registrar este paquete?</span>


      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Confirmar</button>
          <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Confirmar</button> -->
      </div>

    </div>
  </div>
</div>
