<h2>Destinatarios</h2>
<hr class="divider">

<ng-template #divLoading class="d-flex justify-content-center">
  <div class="spinner-border text-primary"></div>
</ng-template>

<div class="mb-2 d-flex justify-content-end">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarDestinatario" (click)="getAreas()">Registrar Destinatario</button>
</div>

<!-- Registrar destinatario -->
<registrar-destinatario
  [areas]="areas"
  (onDestinatario)="registrarDestinatario($event)"
></registrar-destinatario>

<!-- Editar destinatario -->

<ng-template #modalContent>
  <editar-destinatario
    [destinatario]="destinatarioSeleccionado"
    [areas]="areas"
    (close)="closeModal()"
  ></editar-destinatario>
</ng-template>

<div class="card">
  <p-table
      #dt
      [value]="destinatariosList"
      dataKey="id"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="false"
      [paginator]="true"
      currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
      [filterDelay]="0"
      [globalFilterFields]="['nombre', 'correo', 'area']"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          <h5 class="m-2">Buscar destinatario</h5>
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="form-control" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre" style="min-width: 14rem">
            <div class="flex justify-content-between align-items-center">
                Nombre
                <p-sortIcon field="nombre"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="correo" style="min-width: 14rem">
            <div class="flex justify-content-between align-items-center">
                Correo
                <p-sortIcon field="correo"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="area" style="min-width: 14rem">
            <div class="flex justify-content-between align-items-center">
                Área
                <p-sortIcon field="area"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 14rem">
            <div class="flex justify-content-between align-items-center">
                Acción
            </div>
          </th>
        </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-destinatariosList>

      <tr class="p-selectable-row" >
        <td>{{ destinatariosList.nombre }}</td>
        <td>{{ destinatariosList.correo }}</td>
        <td>{{ destinatariosList.area }}</td>
        <td>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarDestinatario" (click)="initModalContent(destinatariosList)">Editar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="modal fade" id="editarDestinatario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModalLabel">Editar Destinatario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="removeModalContent()"></button>
      </div>
      <div *ngIf="!isActive else modalContent">

      </div>
    </div>
  </div>
</div>

<div id="snackbar" [ngClass]="success ? 'show' : ''" >{{ snackbarMessage }}</div>




<!-- Testing new Dialog -->

<!-- <button class="btn btn-primary" (click)="openNew()">Editar</button></td> -->

<!-- <p-dialog [(visible)]="visible" [style]="{ width: '450px' }" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

      <div class="field">
          <label class="mb-3">Category</label>
          <div class="formgrid grid">
              <div class="field-radiobutton col-6">
                  <label for="category1">Accessories</label>
              </div>
              <div class="field-radiobutton col-6">
                  <label for="category2">Clothing</label>
              </div>
              <div class="field-radiobutton col-6">
                  <label for="category3">Electronics</label>
              </div>
              <div class="field-radiobutton col-6">
                  <label for="category4">Fitness</label>
              </div>
          </div>
      </div>

      <div class="formgrid grid">
          <div class="field col">
              <label for="price">Price</label>
              <input type="text" class="form-control">
          </div>
          <div class="field col">
              <label for="quantity">Quantity</label>
              <input type="text" class="form-control">
          </div>
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button class="btn btn-success" >Guardar</button>
  </ng-template>
</p-dialog> -->
