<div class="card">
  <p-table
      #dt
      [value]="paqs"
      dataKey="id"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="false"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['name', 'paqueteria', 'quien_captura', 'usuario', 'correo', 'area', 'extension', 'empleado_recibe', 'fecha_entregado', 'status']"
  >
      <!-- <ng-template pTemplate="caption">
          <div class="table-header">
              Buscar registro
              <b>{{ titulo }}</b>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                  <input pInputText type="text" class="form-control" placeholder="Global Search" />
              </span>
          </div>
      </ng-template> -->
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Buscar registro</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <!-- (e.target as HTMLTextAreaElement) -->
                <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
                <input type="text" class="form-control" placeholder="Buscar registro...">
            </span>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="numero_de_guia" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                  Número de guía
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
              <th pSortableColumn="paqueteria" style="min-width: 14rem">
                  <div class="flex justify-content-between align-items-center">
                      Paquetería
                      <p-sortIcon field="paqueteria"></p-sortIcon>
                      <p-columnFilter type="text" field="paqueteria" display="menu" class="ml-auto"></p-columnFilter>
                  </div>
              </th>
              <th pSortableColumn="quien_captura" style="min-width: 14rem">
                  <div class="flex justify-content-between align-items-center">
                      Quien captura
                      <p-sortIcon field="quien_captura"></p-sortIcon>
                      <p-columnFilter type="text" field="quien_captura" display="menu" class="ml-auto"></p-columnFilter>
                  </div>
              </th>
              <th pSortableColumn="usuario" style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Usuario
                    <p-sortIcon field="usuario"></p-sortIcon>
                    <p-columnFilter type="text" field="usuario" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="correo" style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Correo
                    <p-sortIcon field="correo"></p-sortIcon>
                    <p-columnFilter type="text" field="correo" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="area" style="min-width: 10rem">
                  <div class="flex justify-content-between align-items-center">
                      Área
                      <p-sortIcon field="area"></p-sortIcon>
                      <p-columnFilter type="text" field="correo" display="menu" class="ml-auto"></p-columnFilter>
                  </div>
              </th>
              <th pSortableColumn="extension" style="min-width: 10rem">
                  <div class="flex justify-content-between align-items-center">
                      Extensión
                      <p-sortIcon field="balance"></p-sortIcon>
                      <p-columnFilter type="text" field="extension" display="menu" currency="USD" class="ml-auto"></p-columnFilter>
                  </div>
              </th>
              <th pSortableColumn="empleado_recibe" style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                    Empleado recibe
                    <p-sortIcon field="balance"></p-sortIcon>
                    <p-columnFilter type="text" field="empleado_recibe" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="fecha_entregado" style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                    Fecha entregado
                    <p-sortIcon field="balance"></p-sortIcon>
                    <p-columnFilter type="text" field="fecha_entregado" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="status" style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                    Status
                    <p-sortIcon field="balance"></p-sortIcon>
                    <p-columnFilter type="text" field="status" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                    Acción
                </div>
              </th>
          </tr>
      </ng-template>

      <!-- Body -->
      <ng-template pTemplate="body" let-paq>

        <tr class="p-selectable-row" >
          <td>{{ paq.numero_de_guia }}</td>
          <td>{{ paq.paqueteria }}</td>
          <td>{{ paq.quien_captura }}</td>
          <td>{{ paq.usuario }}</td>
          <td>{{ paq.correo }}</td>
          <td>{{ paq.area }}</td>
          <td>{{ paq.extension }}</td>
          <td>{{ paq.empleado_recibe }}</td>
          <td>{{ paq.fecha_entregado }}</td>
          <td>{{ paq.status }}</td>
          <td>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarRecibido" (click)="clickButton(paq)" >Editar</button>
            <!-- <registrar-recibido
              [valor]="paq.numero_de_guia"
            ></registrar-recibido> -->
          </td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="body" let-customer>

        <tr class="p-selectable-row" *ngFor="let paquete of paqs">
          <td>{{ paquete.numero_de_guia }}</td>
          <td>{{ paquete.paqueteria }}</td>
          <td>{{ paquete.quien_captura }}</td>
          <td>{{ paquete.usuario }}</td>
          <td>{{ paquete.correo }}</td>
          <td>{{ paquete.area }}</td>
          <td>{{ paquete.extension }}</td>
          <td>{{ paquete.empleado_recibe }}</td>
          <td>{{ paquete.fecha_entregado }}</td>
          <td>{{ paquete.status }}</td>
          <td><button class="btn btn-primary">Editar</button></td>
        </tr>
      </ng-template> -->
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="8">No hay información para mostrar</td>
          </tr>
      </ng-template>
  </p-table>
</div>

<!-- <registrar-recibido
  [valor]="'Titulooooo'"
></registrar-recibido> -->



<div class="modal fade" id="registrarRecibido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="titleModalLabel">Registrar paquete recibido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form
          [formGroup]="recibirPackForm"
          (ngSubmit)="onSubmit()"
        >

          <h3>{{ title }}</h3>
        <!-- <form
          [formGroup]="paqueteForm"
          #myForm="ngForm"
          (ngSubmit)="onSubmit()"
        > -->

          <!-- <div class="m-2">
            <span>Número de guía</span>
            <input type="text" class="form-control" formControlName="numero_de_guia" value="{{ valor }}">
          </div> -->

          <div class="m-2">
            <span>Empleado recibe</span>
            <!-- <input type="text" formControlName="id_paquete" value="{{ id_paquete }}"> -->
            <input type="text" class="form-control" formControlName="empleado_recibe">
          </div>


        </form>

        <span class="p-2">¿Seguro que desea registrar este paquete?</span>


      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Cancelar</button>
          <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Confirmar</button> -->
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Confirmar</button>
      </div>

    </div>
  </div>
</div>
