@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

        *{
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }

        body{
            background: #f5f6fa;
        }

        .wrapper .sidebar{
            background: #3c4a65;
            position: fixed;
            top: 0;
            left: 0;
            width: 225px;
            height: 100%;
            padding: 20px 0;
            transition: all 0.5s ease;
        }



        .wrapper .sidebar .profile{
            margin-bottom: 30px;
            text-align: center;
        }

        .wrapper .sidebar .profile img{
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
        }

        .wrapper .sidebar .profile h3{
            color: #ffffff;
            margin: 10px 0 5px;
        }

        .wrapper .sidebar .profile p{
            color: rgb(206, 240, 253);
            font-size: 14px;
        }




        /* Sidebar Options */

        .wrapper .sidebar ul li a{
            display: block;
            padding: 13px 30px;
            border-bottom: 1px solid #46546c;
            color: rgb(241, 237, 237);
            font-size: 16px;
            position: relative;
        }

        .wrapper .sidebar ul li a .icon{
            color: #798394;
            width: 30px;
            display: inline-block;
        }

        .wrapper .sidebar ul li a:hover,
        .wrapper .sidebar ul li a.active{
            color: #fff;

            background:#46546c;
            border-right: 2px solid #fff;
        }

        .wrapper .sidebar ul li a:hover .icon,
        .wrapper .sidebar ul li a.active .icon{
            color: #fff;
        }

        .wrapper .sidebar ul li a:hover:before,
        .wrapper .sidebar ul li a.active:before{
            display: block;
        }

        .wrapper .section{
            width: calc(100% - 225px);
            margin-left: 225px;
            transition: all 0.5s ease;
        }

        /* Navbar */

        .wrapper .section .top_navbar{
            background: #f5f6fa;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 30px;

        }

        .wrapper .section .top_navbar .hamburger a{
            font-size: 28px;
            color: #46546c;
        }

        .wrapper .section .top_navbar .hamburger a:hover{
            color: #798394;
        }

        body.active .wrapper .sidebar{
            left: -225px;
        }

        body.active .wrapper .section{
            margin-left: 0;
            width: 100%;
        }


        * { list-style:none;}
        li.menuu{ line-height:180%;}
        li.menuu a{color:#222; text-decoration:none;}
        li.menuu a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
        input[name="list"] {
          position: absolute;
          left: -1000em;
          }
        label:before{ content:"\025b8"; margin-right:4px;}
        input:checked ~ label:before{ content:"\025be";}
        .interior{display: none;}
        input:checked ~ ul{display:block;}
