<div class="wrapper">

        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
            <!-- <img src="assets/whirlpool-logo.png" alt=""> -->
            <img src="assets/logo_blanco.png" alt="">
            <hr class="divider">
                <!-- <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture"> -->
                <h3>Tracking</h3>
                <p>Paqueteria</p>
            </div>
            <!--menu item-->
            <ul>
                <li
                  [routerLink]="'./'"
                  routerLinkActive="active"
                >
                  <span class="icon"><i class="fas fa-desktop"></i></span>
                  <span class="item">My Dashboard</span>
                </li>

                <li
                  *ngFor="let item of sidebarItems"
                  [routerLink]="item.url"
                  routerLinkActive="active"
                >
                  <span class="icon"><i class="fas fa-desktop"></i></span>
                  <span
                    class="item"
                  >{{ item.label }}</span>
                </li>


                <!-- <li class="menuu item">
                  <input type="checkbox" name="list" id="nivel1-1">
                  <label for="nivel1-1">Catalogos</label>
                  <ul class="interior item">
                        <li><input type="checkbox" name="list" id="nivel2-1"><label for="nivel2-1">Nivel 2</label>
                          <ul class="interior">
                            <li><a href="#r">Nivel 3</a></li>
                            <li><a href="#r">Nivel 3</a></li>
                           </ul>
                        </li>
                        <li><input type="checkbox" name="list" id="nivel2-2"><label for="nivel2-2">Nivel 2</label>
                          <ul class="interior">
                            <li><a href="#r">Nivel 3</a></li>
                            <li><a href="#r">Nivel 3</a></li>
                            <li><a href="#r">Nivel 3</a></li>
                            <li><a href="#r">Nivel 3</a></li>
                           </ul>
                        </li>
                        <li><a href="#r">Nivel 2</a></li>
                     </ul>
                  </li> -->

            </ul>

        </div>


        <!-- Navbar -->
        <div class="section">
            <div class="top_navbar d-flex justify-content-between">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars">B</i>
                    </a>
                </div>
                <span [routerLink]="'../auth'">Login</span>
            </div>

            <div class="page-content">
              <router-outlet></router-outlet>
            </div>

        </div>


    </div>

